<style>
  footer {
    height: 200px;
    padding: 10px;
    color: white;
    text-align: center;
  }

  /*  icons */
  .fa-github {
    color: #fff;
  }

  .fa-linkedin {
    color: #0077b5;
  }

  .fa-google {
    color: #d44638;
  }
  .fa-instagram {
    color: #C13584;
  }
  .fa-facebook-square {
    color: #1877f2;
  }
  .footer-social a {
    margin-right: 1vw;
  }
  .footer-social a:hover {
    opacity: 0.8;

  }
</style>

<footer class="bg-dark footer mt-auto">
  <div class="container py-1">
    <div class="text-center">
      <h5 class="text-white">
        Created by: <span class="text-light"> Kumar Sundaram </span>
      </h5>

      <p class="footer-social">
        <a href="#" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="#" target="_blank"><i class="fab fa-github fa-2x"></i></a>
        <a href="#" target="_blank"><i class="fab fa-google fa-2x"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="#" target="_blank"
          ><i class="fab fa-facebook-square fa-2x"></i
        ></a>
      </p>
      <span class="text-muted">&copy; Copyright 2021 All Rights Reserved</span>
    </div>
  </div>
</footer>
