<% layout('./layouts/layouts') %>
<main class="px-3">
  <h2>Digital Banking <span class="text-danger">On </span></h2>
  <h2>Corona Threat <span class="text-success">Gone</span></h2>
  <h5>[ Digital Banking - Safety from Corona ]</h5>
  <p class="lead">
    <a
      href="/customer"
      class="btn btn-lg btn-secondary fw-bold border-white bg-white mt-5"
      >Get Started</a
    >
  </p>
</main>
